<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>部門員工</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/table.css}">
</head>
<body>
    <div th:fragment="emps">
        <h3>部門員工</h3>
        <table>
            <tr>
                <th>員工編號</th>
                <th>員工姓名</th>
                <th>職位</th>
                <th>雇用日期</th>
                <th>薪水</th>
                <th>獎金</th>
                <th>部門</th>
                <th>修改</th>
                <th>刪除</th>
            </tr>
            <tr th:each="empVO:${listEmps_ByDeptno}" align='center' valign='middle'>
                <td th:text="${empVO.empno}"></td>
                <td th:text="${empVO.ename}"></td>
                <td th:text="${empVO.job}"></td>
                <td th:text="${empVO.hiredate}"></td>
                <td th:text="${empVO.sal}"></td>
                <td th:text="${empVO.comm}"></td>
                <td th:utext="${empVO.deptVO.deptno} + '【<font color=red>' + ${empVO.deptVO.dname} + '</font> - ' + ${empVO.deptVO.loc} + '】'"></td>
                <td>
                    <form method="POST" th:action="@{/emp/getOne_For_Update}">
                        <input type="submit" value="修改">
                        <input type="hidden" name="empno" th:value="${empVO.empno}">
                    </form>
                </td>
                <td>
                    <form method="POST" th:action="@{/emp/delete}">
                        <input type="submit" value="刪除">
                        <input type="hidden" name="empno" th:value="${empVO.empno}">
                    </form>
                </td>
            </tr>
        </table>
        <br />
        <a th:href="@{/index}">回首頁</a>
    </div>
</body>
</html>
